 <html>
    <head>
        <title>CSIS 228 S2</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>
        <%- include ('partials/header') %>
        <div class="container">
            <h1><%= message %></h1>
 <table class="table table-striped table-dark table-lg">
                <thead>
                    <tr>
                        <th class="text-secondary">User ID</th>
                        <th class="text-danger">User Name</th>
                        <th class="text-success">Pet Id</th>
                        <th class="text-danger">Pet Name</th>
                        <th class="text-primary">Pet type</th>
                        <th class="text-secondary">pet gender</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < pets.length; i++) { %>
                        <tr>
                            <td>
                                <%= userpet && userpet[i] ? userpet[i].id : '' %>
                            </td>
                            <td>
                                <%= userpet && userpet[i] ? userpet[i].firstName : '' %>
                            </td>
                            <td>
                                <%= pets[i].petId %>
                            </td>
                            <td>
                                <%= pets[i].petName %>
                            </td>
                            <td>
                                <%= pets[i].petType %>
                            </td>
                            <td>
                                <%= pets[i].petGender %>
                            </td>
                             <td>
                                <a href="/api/pets/edit-Petform/<%= pets[i].petId %>" class="btn btn-primary btn-sm">Edit Pet</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
            
        <%- include('partials/footer') %>
    </body>
    
</html>