
<html>
    <head>
        <title>CSIS 228 S2</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>
        <%- include ('partials/header') %>
        <div class="container">
            <h1><%= message %></h1>
            <table class="table table-striped table-dark table-lg">
                <thead>
                    <tr>
                        
                        <th class = "text-default">User Id</th>
                        <th class="text-success">First Name</th>
                        <th class="text-danger">Last Name</th>
                        <th class="text-primary">Email</th>
                        <th class="text-secondary">DOB</th>   
                        <th class="text-warning">Action</th>                    
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < users.length; i++) { %>
                        <tr>
                            <td>
                                <%= users[i].id %>                                       
                            </td>
                            <td>
                                <%= users[i].firstName %>
                            </td>
                            <td>
                                <%= users[i].lastName %>
                            </td>
                            <td>
                                <%= users[i].email %>
                            </td>
                            <td>
                                <%= users[i].dob %>
                            </td>
                            <td>
                                <a href="/api/users/edit-form/<%= users[i].id %>" class="btn btn-primary btn-sm">Edit User</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
           
        <%- include('partials/footer') %>
    </body>
    
</html>